body{
    background-image: url(images/ocean.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}



.ocean {
  position: relative;
  height: 70vh;
  width: 80%;
  margin: 40px auto;
  border: 40px solid #94d9d5;  
  border-radius: 20px;         
  overflow: hidden;
  animation: oceanColor 6s infinite ease-in-out;
}

@keyframes oceanColor {
  0% {
    background: #003d8d; 
  }
  25% {
    background:#005ac8
  }
  50% {
    background: #007fee; 
  }
  75% {
    background:#005ac8
  }

  100% {
    background: #023e8a;
  }
}


.circle {
  width: 80px;
  height: 80px;
  background: #90e0ef;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 60%;
  animation: float 4s infinite ease-in-out;
}

@keyframes float {
  0%   { transform: scale(1) translateY(0); }
  50%  { transform: scale(1.3) translateY(-20px); }
  100% { transform: scale(1) translateY(0); }
}

.square {
  width: 70px;
  height: 70px;
  background: #52a400;
  position: absolute;
  top: 80%;
  left: 10%;
  animation: move 6s infinite alternate linear;
}

.rectangle {
  width: 120px;
  height: 50px;
  background: #e49e48;
  position: absolute;
  top: 60%;
  animation: swimLeft 8s linear infinite;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 40px solid #fbff00;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  top: 20%;
  left: -100px;
  animation: swim 6s linear infinite;
}

@keyframes swim {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes swimLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -150px;
  }
}

footer {
  background: #ffffff80;
  padding: 15px 20px;
  border-radius: 18px;
  width: fit-content;     
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Sunshiney", cursive;
  font-size: 20px;
}

footer a {
  text-decoration: none;
  color: #d700cd;
  font-weight: 500;
  transition: 0.2s;
}

footer a:hover {
  color: #00fd08;
}

@keyframes scaleIn {
  0% {transform: scale(0.2);}
  85% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

h2 {
  font-size: 50px;
  text-align:center;
  font-family: "Permanent Marker", cursive;
  color:rgb(255, 255, 255);
  text-shadow: 3px 3px 3px #6f00d6;
  animation-name: scaleIn;
  animation-duration: 2s;
}

.nav-bar {
  display: flex;
  gap: 30px;
  background: #ffffffb1;
  padding: 10px 15px;
  border-radius: 25px;
  width: fit-content;
  box-shadow: 5px 5px 5px rgb(0, 39, 107);
  position: relative;
  text-align: center;
  margin: 40px auto; 
}

.nav-bar a {
  text-decoration: none;
  color: #333;
  font-family: "Finger Paint", sans-serif;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.nav-bar a:hover {
  background: #71a5ff;
}