.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

body{
    background-image:url(images/star.jpg);
    background-size:cover;
    background-repeat: repeat;
}

@keyframes scaleIn {
  0% {transform: scale(0.2);}
  85% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

h2 {
  font-size: 60px;
  text-align:center;
  font-family: "VT323", monospace;
  color:rgb(149, 68, 255);
  text-shadow: 3px 3px 0px #464646;
  animation-name: scaleIn;
  animation-duration: 2s;
}

.glow-box {
  width: 200px;
  height: 200px;
  background: #fbfbfb;
  border-radius: 50%;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #000000;
  }
  to {
    box-shadow: 0 0 40px #ffffff;
  }
}

.nav-bar {
  display: flex;
  gap: 30px;
  background: #e5e5e5;
  padding: 15px 25px;
  border-radius: 25px;
  width: fit-content;
  box-shadow: 0 6px 0 rgb(128, 128, 128);
  position: relative;
  animation: slide 6s infinite alternate ease-in-out;
}

.nav-bar a {
  text-decoration: none;
  color: #333;
  font-family: 'Orbitron', sans-serif;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.nav-bar a:hover {
  background: #8993c6;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: 800px;
  }
}


footer {
  background: #a4eeff;
  padding: 10px 10px;
  border-radius: 30px;
  width: fit-content;
  box-shadow: 0 6px 0 rgba(191, 191, 191, 0.917);
  font-family: 'Orbitron', sans-serif;
  animation: breathe 4s infinite ease-in-out;
}

@keyframes breathe {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}